header {
    display: flex;
    flex-direction: column;
     background-color: rgb(96, 96, 96);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      backdrop-filter: blur(15px); /* Aplica o efeito de desfoque */
      background-color: rgba(222, 222, 222, 0.336); /* Define a cor de fundo com transparência */
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                          linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)); /* Define as imagens de fundo */
      background-position: top left, bottom right;
      background-repeat: no-repeat;
      padding: 10px; 
      align-items: center;
  }
  
  img {
      width: 80px;
      
  }
  
  li{
      display:inline-flex;
      margin: 20px;
      padding-left: 50px;
      margin-left: px;
      margin-top: 0px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;
   }
  
   a{
    color: rgb(36, 36, 36);
    position: relative;
    right: 150px;
    bottom: 6px;

}
  
  a:hover{
      color: rgb(135, 135, 135);
      transition: 0.3s all;
  }
  
  .cart-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      position: fixed;
      top: 300px;
      left: 50px;
      right: 800;
      bottom: 500px;
    }
    
    .cart-card {
      width: 500px;
      padding: 20px;
      background-color: #d6d6d6;
      border-radius: 0px;
      text-align: left;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .cart-card img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    
    .cart-card h3 {
      margin-top: 60px;
    }
    
    .cart-card p {
      color: #666;
      margin-bottom: 5px;
    }
    
    .cart-card .price {
      font-weight: bold;
    }
    
    .cart-card .remove-button {
      display: block;
      margin-top: 10px;
      padding: 10px 123px;
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 0px;
      cursor: pointer;
    }
    
     /* Estilo para o modal */
  #myModal {
      /* Defina a posição como "fixed" para fixar o modal na janela do navegador */
      position: fixed;
      /* Defina o posicionamento como "top: 0" e "left: 0" para alinhar o modal no canto superior esquerdo da janela do navegador */
      top: 0;
      left: 0;
      /* Defina a largura e altura do modal */
      width: 100%;
      height: 100%;
      /* Defina um fundo semi-transparente para o modal */
      z-index: 9999;
      /* Adicione estilos de alinhamento vertical e horizontal para centralizar o conteúdo do modal */
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(15px); /* Aplica o efeito de desfoque */
      background-color: rgba(30, 30, 30, 0.336); /* Define a cor de fundo com transparência */
      background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                        linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)); /* Define as imagens de fundo */
      max-height: 6000px; /* Defina a altura máxima do modal de acordo com sua preferência */
      z-index: 9999;
    }
    
    .modal-content {
      display: flex;
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #222222;
      color: white;
      margin: 100px;
      padding: 100px;
      border-radius: 50px;
      height: 60%;
      width: 83%;
    }
    
    .close {
      font-size: 50px;
      color: #666;
      position: absolute;
      top: 10px;
      right: 25px;
      cursor: pointer;
    }
    